.colorFone
{
-fx-background-color: #0ABAB5
}
.colorButton
{
-fx-background-color: #45CEA2
}
.colorPane
{
-fx-background-color: #ABCDEF
}
.color1
{
-fx-background-color: #068481
}
.color2
{
-fx-background-color: #AAF3F1
}
.color3
{
-fx-background-color: #55F6F2
}
.colorPane1
{
-fx-background-color: #32E2DE
}
.colorPane2
{
-fx-background-color: #6FDCDA
}